# Auto install peer dependencies
auto-install-peers=true

# Strict peer dependencies
strict-peer-dependencies=false

# Angular library compilation imports TypeScript helpers from tslib implicitly.
public-hoist-pattern[]=tslib
